<div class="seed-container">
  <div fxLayout="column" fxFlex class="layout-toolbar" color="primary">
    <mat-toolbar color="primary" class="toolbar">
      <span class="title">LANGUAGE SWITCHER</span>
      <span class="spacer"></span>
      <button mat-raised-button style="color:rgba(0,0,0,.87)" (click)="goNext()">
        Next
      </button>
    </mat-toolbar>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="content">
      <div *ngIf="post | async as p">
        <h2>{{ p.text }}</h2>
        <h4>Votes: {{ p.likes }}</h4>

        <button mat-raised-button (click)="upvote()">Upvote</button>
        <button mat-raised-button (click)="downvote()">Downvote</button>
        <button mat-raised-button color="warn"  (click)="resetPost()">Reset</button>

        <mat-form-field>
          <input matInput [(ngModel)]="text" name="text">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="editText()">Change Title</button>

      </div>
    </div>
  </div>
</div>
